// --------------------------------------------------
// Variables
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// Fonts
$fontSpartan: 'Spartan', sans-serif;

// Breakpoints
$tabletBreakpoint: 965px;
$mobileBreakpoint: 600px;
